services:
  backend:
    image: backend-api
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend-api
    volumes:
      - ./backend:/app
    ports:
      - "5000:5000"

  frontend:
    image: frontend-react
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: frontend-react
    volumes:
      - ./frontend:/app
    ports:
      - "3000:3000"
